@import "combobox.css";
@import "black_theme.css";

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf");
}

.button {
    -fx-cursor: hand;
}

* {
    -fx-text-fill: -fx-color-font_;
    -fx-font-family: Montserrat-Regular;
    -fx-font-weight: 700;
}

.root {
    -fx-background-color: -fx-color-main;
}

.jfx-check-box {
    -fx-label-padding: 2;
    -jfx-checked-color: -fx-color-blue;
    -jfx-unchecked-color: -fx-color-combobox;
}

.jfx-check-box .mark {
    -fx-background-color: -fx-color-combobox;
}

.text-field {
    -fx-background-color: -fx-color-combobox;
    -fx-prompt-text-fill: -fx-color-gray;
    -fx-text-fill: -fx-color-font_;
    -fx-padding: 2 0 2 5;
    -fx-font-size: 15;
}

.progress-bar > .bar {
    -fx-background-insets: 3 3 4 3;
    /*-fx-background-radius: 0.583em; *//* 7 */
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}



