@import "base.css";

#paneBackground {
    -fx-background-radius: 10;
    -fx-background-color: -fx-color-transperent-combobox;
}

#rectangleIcon, #rectangleIconBackground {
    -fx-arc-height: 15;
    -fx-arc-width: 15;
}

#rectangleIconBackground {
    -fx-fill: -fx-color-separate;
}

#labelName {
    -fx-font-size: 22;
}

#labelDescription * {
    -fx-font-size: 15;
}

#labelAuthor {
    -fx-font-size: 15;
    -fx-text-fill: -fx-color-gray;
}

.jfx-check-box .box {

    -jfx-checked-color: rgba(0, 0, 0, 0);
    -jfx-unchecked-color: rgba(0, 0, 0, 0);

    -fx-padding: 20
}

.jfx-check-box .mark {
    -fx-background-color: -fx-color-combobox;

    -fx-padding: 15
}